.container
  .news-index
    %h1.text-center
      %strong News
    = paginate @news
    = link_to 'Create news', new_news_path if user_signed_in? && current_user.has_roles?(:editor, :admin)
    - @news.in_groups_of(2, false).each do |group|
      .row
        - group.each do |news|
          .col-md-6
            .card
              .card-body
                .row
                  .col-md-10
                    %h5.card-title= link_to news.heading, news
                    %p.size-80.text-secondary= news.created_at.strftime("on %m/%d/%Y")
                %p.card-text= truncate(strip_tags(markdown(news.body)), length: 250)
                = link_to "Read more", news
    = paginate @news
