.container
  .films-index
    %h1.text-center
      %strong Films
    .row
      .col-md-8
        = render @films
      .col-md-4
        .col-md-4.text-center
        %h2.text-center Filter results
        = search_form_for @q, html: {class: 'films-filters'} do |f|
          .filter-title
            = f.label :title_cont, class: 'sr-only'
            = f.search_field :title_cont, placeholder: "Title includes", class: 'form-control'
          .filter-genre
            = f.select :genres_name_in, Genre.list_genres, { include_blank: "All genres" }, class: 'form-control'
          .filter-premiere.form-group
            = f.date_select :release_gteq, {prompt: "Year from", start_year: Time.now.year, end_year: 1888, order: [:year], }, class: 'form-control form-control-sm'
            = f.date_select :release_year_lteq, {prompt: "Year to", start_year: Time.now.year, end_year: 1888, order: [:year], }, class: 'form-control form-control-sm'
          = f.submit "Filter", class: 'filter-button btn'
