.film-page
  .row
    .col-md-8.film-details
      %h1
        = @film.title
        %span.half-size= "(#{@film.release.year})"
      %p= calculate_duration(@film)
      %p= @film.short_description
      %table
        %tbody
          %tr
            %th director:
            %td
              - @film.directors.each do |director|
                =link_to director.name, person_path(director)
          %tr
            %th screenwriter:
            %td
              - @film.screenwriters.each do |screenwriter|
                =link_to screenwriter.name, person_path(screenwriter)
          %tr
            %th genre:
            %td
              = list_genres(@film)
          %tr
            %th prodution:
            %td
              = list_production(@film)
          %tr
            %th release:
            %td
              = @film.release
    .col-md-4.rating-panel
      - if !user_signed_in?
        %p
          = link_to 'Log in', new_user_session_path
          = ' to add films to library'
      - else
        - if current_user.films.include?(@film)
          - @library = current_user.libraries.where(film: @film).first
          %h4 In library
          = button_to "Remove from library", library_path(@library), method: :delete, class: 'btn btn-danger'
        = render 'library_form'
  .row
    .col-md-8
      %h3 Film description
      %p= @film.description
  .film-cast
    .row
      .col-md-8
        %h3 cast
        - @film.actors.each_with_index do |actor, index|
          .row
            .col-md-3
              %p
                = link_to actor.person.name, person_path(actor.person)
            .col-md-2.role-as
              - if index == 0
                = 'as: '
            .col-md-3
              %p= actor.job_details
  .film-news
    %h3 news
    .row
      - @film.news.last(2).each do |n|
        .col-md-4
          %h4
            = link_to n.heading, n
          %p= "#{n.body[0...40]}..."
