= form_for([@film, @review], html: { class: 'basic-form' }) do |form|
  %h1
    Write review for
    = @film.title
  .form-group
    = form.text_area :body, rows: 15, placeholder: 'Tell others what you think about this movie!', class: 'form-control'
  .form-group
    = form.label :rating, 'Rate this film!'
    = form.select :rating, 1..10, {}, { class: 'form-control' }
  .form-group
    = form.submit 'Submit', class: 'btn basic-button'
