.review.review-show
  %h1
    Review for
    = link_to @review.film.title, @review.film, class: 'link-one'
  %p.review-info
    author:
    = link_to "#{@review.user.name}", user_path(@review.user)
    = "| #{@review.created_at}"
  .review-body
    %p= markdown(@review.body)
